@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --gray-200: #eaecf0;
  --gray-50: #f9fafb;
  --gray-300: #d0d5dd;
  --text-done: #d0d5dd;
  --blue: #3f5bf6;
  --hover: #eaedfe;

  --text-primary: #101828;
  --text-gray: #475467;
  --text-light: #ffffff;
}

body {
  font-family: "Work Sans", sans-serif;
  overflow-x: hidden;
}

.flex-center-row {
  @apply flex items-center flex-row;
}

.flex-center-col {
  @apply flex flex-col;
}

.time-input-con {
  @apply border border-skin-border-gray h-full rounded-[8px] flex justify-between items-center py-[10px] px-[8px];
}

.animate {
  animation: animate 2s linear 2s none normal normal;
}

@keyframes animate {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(100%);
  }
}

.SG-datepicker {
  margin: 0;
}


.SG-datepicker__input-container {
  display: block;
  width: calc(100%) !important;
  margin: 0;
  padding: 0;
}

.SG-datepicker__input-container input {
  padding: 5px 0 !important;
  border-radius: 5px;
  display: inline !important;
  width: 100% !important;
  border: 1px solid #d0d5dd;
  text-align: center;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;


  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* CHECKBOX */

.checkbox {
  position: relative;
  border: 1px solid var(--gray-300);
  border-radius: 6px;
  background: none;
  background-color: #ffffff;
  cursor: pointer;
  line-height: 0;
  margin: 0 0.6em 0 0;
  outline: 0;
  padding: 0 !important;
  vertical-align: text-top;
  height: 20px;
  width: 20px;
  -webkit-appearance: none;
  opacity: 0.5;
  transition: all 200ms ease-in-out;
}

.checkbox:hover {
  opacity: 1;
}

.checkbox:checked {
  border-color: var(--blue);
  opacity: 1;
  background-image: url("./assets/icons/check.svg");
  background-repeat: no-repeat;
  background-position: center;
}

/* // SWIPER */
.swiper-wrapper {
  /* transform: translate3d(0px, 0px, 0px) !important; */
}

/* // INPUT */

.time-input-container {
  position: relative;
}

.time-input::-webkit-calendar-picker-indicator {
  background: transparent;
  color: transparent;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.time-input {
  border: none;
  outline: none;
  color: var(--gray-500, #667085);
  font-family: Work Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  background-color: transparent !important;
}
